<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Layout</title>
		<link rel="stylesheet" href="css/reset.css">

		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<h1 id="logo">
			<a href="index.html">
				<img src="images/logo.png" alt="Logo">
			</a>
		</h1>
		<nav class="bloc">
			<a href="#">Home</a>
			<a href="#">Blog</a>
			<a href="#">Portfolio</a>
			<a href="#">Contact</a>
		</nav>

		<article id="slider" class="bloc">

			<figure>
				<img src="images/header.png" alt="Skyline in the US">
			</figure>
			
			<p>
				<a href="#" id="previous">Previous</a>
				<a href="#" id="next">Next</a>
			</p>
		</article>


		<section>
			<article class="bloc">
				<figure>
					<img src="images/img4.png" alt="A house in the meadow">
				</figure>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationlaborum.</p>
				<p class="more">
					<a href="#">More...</a>
				</p>
			</article>
			<article class="bloc">
				<figure>
					<img src="images/img3.png" alt="A car">
				</figure>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationlaborum.</p>
				<p class="more">
					<a href="#">More...</a>
				</p>
			</article>
			<article class="bloc">
				<figure>
					<img src="images/img1.png" alt="A room">
				</figure>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationlaborum.</p>
				<p class="more">
					<a href="#">More...</a>
				</p>
			</article>
			<article class="bloc">
				<figure>
					<img src="images/img2.png" alt="A river">
				</figure>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationlaborum.</p>
				<p class="more">
					<a href="#">More...</a>
				</p>
			</article>
		</section>

		<article class="bloc clearfix">
			<div>
				<figure>
					<img src="images/img2mini.png" alt="A river">
				</figure>
				<figure>
					<img src="images/img1mini.png" alt="A room">
				</figure>
				<figure>
					<img src="images/img3mini.png" alt="A car">
				</figure>
				<figure>
					<img src="images/img4mini.png" alt="A house">
				</figure>
			</div>
			<h1>Welcome to the site</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationlaborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p class="more">
				<a href="#">More...</a>
			</p>
		</article>

		<footer class="bloc">
			
			<ul>
				<li><a href="#">Terms of Services</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li>© 2009 Designzzz (<a href="#">www.designzzz.com</a>)</li>
			</ul>
		</footer>












	</body>
</html>